h1{
 background-color:rgb(99, 8, 8);
 text-align: center;
 padding:10px;
 color: white;
}

div{
    background-color: gray;
    display: flex;
}

h3{
    margin-left: 15px;
}

.flex{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-top: 30px;
}

p{
    margin-left: 5px;
}